fastapi
uvicorn[standard]
python-multipart
langgraph
langgraph-checkpoint-sqlite
aiosqlite
langchain
langchain-groq
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
groq
pydantic
python-dotenv
sympy
ddgs
sentence-transformers
docx2txt
pypdf
